<!DOCTYPE html>
<html>

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/quiz.css' | relative_url }}">

</head>

<body>

{{ content }}

<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js@2"></script>

<script src="{{ '/assets/js/supabase.js' | relative_url }}"></script>
  
<script src="{{ '/assets/js/quiz.js' | relative_url }}"></script>

</body>

</html>
